---
# Only the main Sass file needs front matter (the dashes are enough)
---
.clear{
  clear: both;
}

body{
  font-family: "Helvatica", sans-serif;
  color: #fefefe;
}

header{
}
main{
}

footer{
}

body > header{
  padding: 20px 0;
}
.wrapper{
  margin: auto;
  padding: 0 40px;
}

.site-title{
  margin: 0;
  float: left;
}
.site-title a{
  text-decoration: none;
  color: #444;
}
.site-nav{
  float: right;
}

.site-nav ul{
  list-style: none;
  margin:0;
  padding: 0;
}

.site-nav ul li {
  display: inline-block;
}
.site-nav ul li a{
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: #444;
  font-weight: 700;
}

.posts{
  list-style: none;
  padding: 0;
  color: #666;
}
.posts li a{
  text-decoration: none;
  color: #555;
}
.posts li{
  border-bottom: 1px solid darkgray;
}

.posts li:last-child{
  border-bottom: 0;
}
.date{
  font-size: 50%;
  float: right;
}
.posts p {
  font-size: 16px;
  color: gray;
}

.site-footer{
  text-align: center;
  color: darkgray;
  border-top: 1px solid gray;
  padding-top: 5px;
}
