---
layout: default
---

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <small class="date"><em>{{ post.date | date: "%b %-d, %Y" }}</em></small>

        </h2>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
          of type and scrambled it to make a type specimen book.
        </p>

      </li>
    {% endfor %}
  </ul>
